html {
  width: 100%;
  height: 100%;
}

*::selection {
  background-color: #ff9900;
}

#mainsection  {
  text-align: center;
  margin: 10px;
}


body {
  margin: 0;
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
  position: relative;
}

#body{
  padding-bottom:95px;
}

#biglogo {
  width: 200px;
  user-select: none;
  box-sizing: border-box;
  margin: 10px;
}


* {
  font-family: Tahoma;
}

#footer {
  bottom: 0;
  left: 0;
  right:0;
  background-color: #ccc;
  padding: 20px;
  height: 95px;
  color: #333;

  position: absolute;
  box-sizing: border-box;
}

h3 {
  text-decoration: underline;
}

input {
  border: none;
  outline: none;
  width: 25%;
  border-radius: 3px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 100px;
  height: 40px;
  background-color: white;
  outline: none;
  border-radius: 3px;
  border: 1px solid #999;
  color: black;
}

.signuponly {
  display: none;
}

.switcher {
  user-select: none;
}

.switcher>a {
  padding: 3px;
  text-decoration: none;
  color: black;
}

.switcher>a:active {
  color: black;
}

.switcher>a:first-child {
  margin-right: 3px;
}

.switcher>a:last-child {
  margin-left:3px;
}

.switcher>a:not(.activeSwitcher):hover {
  border-bottom: 2px solid #999;
  cursor: pointer;
}

.activeSwitcher {
  border-bottom: 2px solid #333;
}

button:hover {
  border: 1px solid #333;
  background: #333;
  color: white;
}

input[type=text], input[type=password] {
  border-bottom: 2px solid #999;
}

input[type=text]:focus, input[type=password]:focus {
  border-bottom: 2px solid #333;
}

#loggedIn {
  display: none;
}

#changePasswordForm {
  display: none;
}

.adminOnly {
  display: none;
}

.messageBox {
  width: 25%;
  background-color: #fa4d4d;
  margin-bottom: 20px;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

noscript>div{
  display: inline-block;
}

noscript>p{
  padding-top: 1em;
  padding-bottom: 1em;
}

#infoBox {
  background-color: #7F7F7F;
  display: none;
}

/* Phone screen */
@media (max-width: 400pt){
  #biglogo {
    width: calc(100% - 20px);
  }

  input, .messageBox {
    width: 80%;
  }
}
